@import "tailwindcss";

@theme {
  --font-sf: "SF Pro Display", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #27C5D2;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #026872;
}